*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.content{
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
}
.content h1{
    font-size: 50px;
    margin-top: 80px
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.body1 {
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(-180%);
    text-align: center;
    color: black;
}
.body1 h1{
    font-size: 50px;
    margin-top: 80px
}
.body1 p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background:#009688;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.secondbutton{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background:white;
    color: #009688;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}
span{
    background: #009688;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}

 